{% extends 'userindex.html' %}
{% load static %}
{% block content %}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>About</span>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 align="center">About Us</h1>
<div class="col-lg-12">
    <p align="center">We Recomment You the Fresh products at cheap price.Start buying now and make your health healthy</p>
</div>
{% endblock %}